# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Environment
venv/
ENV/
env/

# Django
*.sqlite3
*.log

# Static files
todoproject/staticfiles/

# Media files (ユーザーアップロード)
media/

# Environment variables
*.env

# IDE / Editor
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Linux
*~
