# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.sqlite3
*.log

# Django
*.pot
*.pyc
db.sqlite3
/staticfiles/
/media/
/.env

# Virtual environment
venv/
ENV/
env/
.venv/

# IDE関連
.vscode/
.idea/

# OS関連
.DS_Store
Thumbs.db

# PostgreSQL ダンプファイルなど
*.sql
*.backup

# Secret key や 環境変数ファイル
.env
